html, body {
    background-color: #6E8098;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.header{
    height: 30px;
    background-color: #6E8098;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    border: none !important;
}
.quickMenu{
    position: absolute;
    left: 0px;
    width: 100%;
}
.quickmenu .dijitToolbar{
    border: none;
    background-color: transparent;
}

.appContainer {
    height: 30px;
    margin: 0px;
}

.quickmenu .demoComments {
    border: 1px solid black;
    background-color: white;
    height: 100%;
    padding: 10px;
}