html, body {
    background-color: #6E8098;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.header{
    height: 30px;
    background-color: #6E8098;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    border: none !important;
}
.quickMenu{
    position: absolute;
    left: 0px;
    width: 100%;
}
.quickmenu .dijitToolbar{
    border: none;
    background-color: transparent;
}

.appContainer {
    height: 30px;
    margin: 0px;
}

.demoComments {
    border: 1px solid silver;
    background-color: white;
    height: 90%;
    margin: 0px 20px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.demoComments h2 {
    border-bottom: 1px solid #d3d3d3;
}

.demoComments dl dt {
    font-weight: bold;
    text-decoration: underline;
}

.demoComments dl dd {
    margin: 4px 0px;
}

.demoComments dl dd span {
    font-weight: bold;
}

.codeBlock {
    display: block;
    border: 1px dashed steelblue;
    margin: 8px 40px;
    padding: 8px;
    background-color: aliceblue;
}